.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0b4a6f;
  /* border: 1px solid var(--color-neutral-200); */
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  transition: all var(--transition-base);
  overflow: hidden;
  width: 250px;
}

.cardHoverable:hover {
  box-shadow: var(--shadow-md);
  transform: translateY(-2px);
}

.cardClickable {
  cursor: pointer;
}

.header {
  padding: var(--spacing-6);
  border-bottom: 1px solid var(--color-neutral-200);
}

.body {
  padding: var(--spacing-4);
  padding-top: 0px;
}

.footer {
  padding: var(--spacing-6);
  padding-top: 0px;

  /* border-top: 1px solid var(--color-neutral-200); */
  /* background-color: var(--color-neutral-50); */
}

.noPadding {
  padding: 0;
}
