.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  /* padding-left: 48px; */
  /* padding-right: 48px; */
  /* box-sizing: border-box; */
  /* border: 2px solid red; */
}

@media (min-width: 640px) {
  .container {
    max-width: var(--container-sm);
    padding-left: var(--spacing-6);
    padding-right: var(--spacing-6);
  }
}

@media (min-width: 768px) {
  .sizeMd {
    max-width: var(--container-md);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-8);
  }

  .sizeLg {
    max-width: var(--container-lg);
  }
}

@media (min-width: 1280px) {
  .sizeXl {
    max-width: var(--container-xl);
  }
}

@media (min-width: 1536px) {
  .size2xl {
    max-width: var(--container-2xl);
  }
}

.sizeFull {
  max-width: 100%;
}
